* {
  margin: 0;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

input, textarea, select, button {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  background: none;
  display: block;
  outline: none;
  resize: none;
}

textarea {
  min-height: 100px;

}

button {
  cursor: pointer;
  display: inline-block;
  left: 50%;
  padding: 2px;
}

@font-face {
  font-family: 'Nothing You Could Do';
  src: url('../fonts/NothingYouCouldDo.ttf');
}

@font-face {
  font-family: 'Damion';
  src: url('../fonts/Damion-Regular.ttf');
}

@font-face {
  font-family: 'Bubbler One';
  src: url('../fonts/BubblerOne-Regular.ttf');
}

.main-container {
  width: 100%;
  padding: 15px 0;
}

#top-bar {
  width: 80%;
  background-color: #cce0ff;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#heading {
  font: 6em 'Nothing You Could Do', cursive;
  color: black;
  margin-top: 0px;
  margin-bottom: -30px;
}

#sub-heading {
  margin: 0;
  font: 24px "Nothing You Could Do", cursive;
}

#side-bar {
  position: fixed;
  vertical-align: middle;
  width: 25%;
  background-color: LightCoral;
  margin-left: 10%;
  margin-top: 15px;
  float: left;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#buttons {
  height: 50px;
  margin-bottom: 10px;
}

.button {
  width: 80px;
  background-color: white;
  border: none;
  color: black;
  font: 30px FreeMono, monospace;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: LightSkyBlue;
}

.button:focus {
  outline: none;
}

#input-note {
  height: 400px;
  background-color: #cce0ff;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#title-input {
  float: left;
  font-family: 'Bubbler One', sans-serif;
  font-size: 20px;
  width: 50%;
  height: 40px;
  background-color: white;
  border: 1px dashed #afccf7;
  padding-left: 5px;
}

#content-input {
  float: left;
  border: 1px dashed #afccf7;
  margin-top: 15px;
  resize: none;
  width: 100%;
  height: 80%;
  font-family: 'Bubbler One', sans-serif;
  font-size: 25px;
  background-color: white;
  overflow-x: hidden;
  padding-left: 5px;
}

.priority {
  border: 1px dashed #afccf7;
  background-color: white;
  font-family: 'Bubbler One', sans-serif;
  font-size: 20px;
  float: right;
  height: 40px;
  width: 150px;
}

#notes-container {
  margin-right: 10%;
  margin-top: 15px;
  text-align: left;
  width: 52.5%;
  min-height: 480px;
  float: right;
  background-color: #c8dff7;
  border-radius: 10px;
}

.note {
  font-family: 'Bubbler One', sans-serif;
  float: left;
  color: black;
  margin: 15px 20px;
  padding: 5px;
  min-width: 160px;
  min-height: 180px;
  border-radius: 5px;
  box-shadow: 20px 10px 30px #BBBBBB;
}

.note-title {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin: 5px;
  text-align: left;
}

.note-body {
  text-align: left;
  font-family: 'Bubbler One', sans-serif;
  padding: 5px;
  font-size: 15px;
  width: 150px;
  word-wrap: break-word;
}

.low {
  background-color: #B9E397;
}

.medium {
    background-color: #ffff80;
}

.high {
    background-color: #F99F9F;
}

.note-button {
  color: black;
  width: 15px;
  height: 15px;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.5;
  border: none;
  z-index: 100;
  background-color: white;
  float: right;
  margin: 5px 3px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.note-edit {
  right: 50px;
  top: 5%;
}

.note-close {
  right: 6px;
  top: 5%;
}

.note-button:hover {
  opacity: 1;
}

.title {
  margin: 2px auto;
  width: 180px;
}

.content {
  margin: 2px;
  width: 180px;
  word-wrap: break-word;
}

.footer-content {
  color: white;
  position: fixed;
  width: 100%;
  right: 10px;
  bottom: 10px;
  text-align: right;
  font-family: 'Bubbler one', sans-serif;
  font-size: 20px;
}
